<h1>Recipe Search</h1>
<p>
  Please enter a comma separated list of the ingredients you want your recipe to
  consist of (e.g. 'banana, apple')
</p>
<app-recipe-input (enter)="onRecipeInputEnter($event)"></app-recipe-input>
<app-recipe-list [recipes]="(recipes$ | async)!"></app-recipe-list>
