<mat-card class="recipe-card">
  <mat-card-header>
    <mat-card-title>{{ recipe.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ recipe.image }}" alt="photo of a recipe" />
  <mat-card-content>
    <h2>Ingredients:</h2>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
