:host {
  img {
    max-width: 100%;
    margin: 0 auto;
  }

  mat-card-header {
    min-height: 4em;
    align-items: center;
  }

  mat-card-content {
    min-height: 11em;

    h2 {
      font-size: 16px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        margin-right: 1em;
        margin-bottom: 1em;
        background-color: lightcoral;
        padding: 0.5em 0.75em;
        border-radius: 1em;
        color: white;
        font-weight: 500;
      }
    }
  }
}
