:host {
  display: grid;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;

  @media (min-width: 800px) {
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
  }
}
